<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.MusicDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.Music">
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="singer_name" property="singeName" jdbcType="VARCHAR" />
        <result column="song_name" property="songName" jdbcType="VARCHAR" />
        <result column="subtitle" property="subtitle" jdbcType="VARCHAR"  />
        <result column="album_name" property="albumName" jdbcType="VARCHAR" />
        <result column="singer_id" property="singerId" jdbcType="VARCHAR" />
        <result column="singer_mid" property="singerMid" jdbcType="VARCHAR" />
        <result column="song_time_public" property="songTimePublic" jdbcType="VARCHAR" />
        <result column="song_type" property="songType" jdbcType="INTEGER" />
        <result column="language" property="language" jdbcType="INTEGER" />
        <result column="song_id" property="songId" jdbcType="INTEGER" />
        <result column="song_mid" property="songMid" jdbcType="VARCHAR" />
        <result column="song_url" property="songUrl" jdbcType="VARCHAR" />
        <result column="hot_comments" property="hotComments" jdbcType="VARCHAR" />
        <result column="lyric" property="lyric" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
		singer_name,
		song_name,
		subtitle,
		album_name,
		singer_id,
		singer_mid,
		song_time_public,
		song_type,
		language,
		song_id,
		song_mid,
		song_url,
        hot_comments,
        lyric
	</sql>

    <select id="findBySongName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from music
        where song_name = #{songName}
    </select>

    <select id="findBySongId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from music
        where song_id = #{songId}
    </select>

</mapper>
